.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);

}

.searchForm {
  min-height:10vh;
  display:flex;
  justify-content:center;
  align-items:center;

}

.searchBar {
  width:50%;
  padding:10px;
  border-radius: 15px;
  border:none;
}

.searchButton {
  border:none;
  padding: 10px 20px;
  background-color: #8fa6db;
  border-radius: 15px;
  color:white;
  margin:5px;
  font-weight: bold;
}

.recipes{
  display:flex;
  justify-content: space-around;
  flex-wrap:wrap;
}
::placeholder {
  color: #e6e6e6;
  font-style: italic;
}