@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.recipe {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(124, 124, 124);
    margin:50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    background-image: linear-gradient(to right, #f7c2d2 0%, #fae98c 100%);
    height:auto
}

.image {
    border-radius: 10px;
    width: 400px;
    height:400px;
    
}

.header {
    font-family: 'Indie Flower', cursive;
    font-size:40px;
    padding:10px;
    text-align:center
}

.lists li {
        
        margin: 0;
        padding: 4px 0 4px 20px;
        list-style: circle;
}